<div class="container">
    <div class="row">
        {{#each products.payload}}
            <div class="col-md-4">
                <div class="card border-0 mb-3">
                    <a href="/products/{{this._id}}" class="text-decoration-none">
                        <img src="{{this.thumbnail}}" class="img-fluid" alt="{{this.title}}">
                    </a>
                    <div class="card-body text-center">
                        <p class="card-text">{{this.title}}<br><span>${{this.price}}</span></p>
                        <a href="#">Buy Now</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
   
</div>

<script src="js/cart.js"></script>
<script src="js/products.js"></script>